{% extends 'base.html' %}
{% load static %}  
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h2>Actualizar Contacto</h2>

    <!-- Visualización de los datos actuales -->
    <div>
        <p><strong>Dirección:</strong> {{ contacto.direccion }}</p>
        <p><strong>Dirección secundaria:</strong> {{ contacto.direccion_secundaria }}</p>
        <p><strong>Correo:</strong> {{ contacto.correo }}</p>
        <p><strong>Teléfono:</strong> {{ contacto.telefono }}</p>
        <!-- Incluir aquí otros campos si los hay -->
    </div>

    <!-- Formulario para actualizar los datos -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
