{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Actualizar Sobre Nosotros</h2>
    
    <!-- Visualización de los datos actuales para previsualización -->
    <div>
        <h4>Descripción Actual:</h4>
        <p>{{ sobreNos.descripcion }}</p>
    </div>
    
    <!-- Formulario para actualizar los datos y las imágenes -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ miFormularioSobreNos.as_p }}
        {{ miFormularioImagenesSobreNos }}
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}