{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Detalles de Contacto</h2>
    <p><strong>Descripción:</strong> {{ contacto.descripcion }}</p>
    <p><strong>Dirección:</strong> {{ contacto.direccion }}</p>
    <p><strong>Dirección secundaria:</strong> {{ contacto.direccion_secundaria }}</p>
    <p><strong>Correo:</strong> {{ contacto.correo }}</p>
    <p><strong>Teléfono:</strong> {{ contacto.telefono }}</p>
    
    <!-- Muestra imágenes si existen -->
    {% for imagen in contacto.imagencontacto_set.all %}
        <img src="{{ imagen.imagen.url }}" alt="Imagen de contacto" style="width:100px; height:100px;">
    {% endfor %}

    <!-- Botón para ir a actualizar los datos de contacto -->
    <a href="{% url 'actualizarContacto' username=username %}" class="btn btn-primary">Actualizar Contacto</a>
</div>
{% endblock %}