<!-- se indic que va a heredar de base.html -->
{% extends "base.html" %}

<!-- se carga lo que esta en la carpeta static -->
{% load static %}  
{% load crispy_forms_tags %}
<!-- aqui va el contenido cambiante -->
{% block content %}

<div class="upload-field">

    <div class="ìmage-field">'
        <img id="image-preview" src="{% static 'assets/img/defaultUpload.jpg' %}" alt="Vista previa de la imagen" style="max-width: 100%; display: none;"/>
    </div>

    <div class="text-field">
        {% if "valid" in request.GET %}
            <p>subida correcta del contacto</p>
        {% endif %}      
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{miFormularioContacto|crispy}}
            <input type="submit" style="width: 150px;" value="Enviar">
        </form>       
    </div>
</div>
{{request.POST}}

{% endblock %}