{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Detalles Sobre Nosotros</h2>
    <p>{{ sobreNos.descripcion }}</p>

    <!-- Mostrar todas las imágenes asociadas -->
    {% for imagen in sobreNos.imagenessobrenos_set.all %}
        <img src="{{ imagen.imagen.url }}" alt="Imagen" style="width:100px;height:100px;">
    {% endfor %}

    <!-- Botón para actualizar SobreNos -->
    <a href="{% url 'actualizarSobreNos' username=username %}" class="btn btn-primary">Actualizar Sobre Nosotros</a>
</div>
{% endblock %}