{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Crear Nuevo Emprendimiento</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ miFormularioCrearEmprendimiento.as_p }}
        <button type="submit" class="btn btn-success">Guardar Emprendimiento</button>
    </form>
</div>

{% if miFormularioCrearEmprendimiento.errors %}
    <div class="alert alert-danger" role="alert">
        {{ miFormularioCrearEmprendimiento.errors }}
    </div>
{% endif %}

{% endblock %}
