<!-- se indic que va a heredar de base.html -->
{% extends "base.html" %}

<!-- se carga lo que esta en la carpeta static -->
{% load static %}  

<!-- aqui va el contenido cambiante -->
{% block content %}

<div>
    <button type="button" class="btn btn-primary" style="color: white;"><a href="{% url 'SubirImagen' username=user.username %}">Agregar evento</a></button>
</div>

<div class="row">
    <!-- aqui se hace un for para cada servicio -->
    {% for evento in eventos %}

    <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{evento.titulo}}</div>
            <div class="card-body">
                <img src="{{evento.imagen.url}}" class="card-img-top">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}