{% extends 'base.html' %}

{% block content %}
<h2>Galería de Eventos</h2>
<a href="{% url 'eventoSubir' username=username nombreEmprendimiento=emprendimiento.nombre %}">Subir nuevo evento</a>

{% for categoria, eventos in eventos_por_categoria.items %}
  <h3>{{ categoria }}</h3>
  <ul>
    {% for evento in eventos %}
      <li>
        <a href="{% url 'eventoDetalle' username=emprendimiento.emprendedor.user.username nombreEmprendimiento=emprendimiento.nombre id=evento.id %}">{{ evento.titulo }}</a>
        - {{ evento.precio }} - Disponibles: {{ evento.disponibles }}
      </li>
    {% endfor %}
  </ul>
{% empty %}
  <p>No hay eventos en la galería aún.</p>
{% endfor %}

{% endblock %}
