{% extends 'base.html' %}
{% load static %}  
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-4">
    <h2>Registrarse</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        
        <!-- Campos del formulario -->
        {{ miFormularioRegistroUsuario.username.label_tag }}
        {{ miFormularioRegistroUsuario.username }}
        <br>
        <br>
        {{ miFormularioRegistroUsuario.password1.label_tag }}
        {{ miFormularioRegistroUsuario.password1 }}
        <br>
        <br>
        {{ miFormularioRegistroUsuario.password2.label_tag }}
        {{ miFormularioRegistroUsuario.password2 }}
        <br>
        <br>
        {{ miFormularioRegistroUsuario.nombre.label_tag }}
        {{ miFormularioRegistroUsuario.nombre }}
        <br>
        {{ miFormularioRegistroUsuario.edad.label_tag }}
        {{ miFormularioRegistroUsuario.edad }}
        <br>
        <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
  </div>
{% endblock %}