{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Sobre Nosotros</h2>
    <p>{{ sobreNos.descripcion }}</p>
    <div>
        {% for imagen in imagenes %}
            <img src="{{ imagen.imagen.url }}" alt="Imagen" style="width: 100px; height: auto;">
        {% endfor %}
    </div>
    <a href="{% url 'sobreNosActualizar' username=emprendimiento.emprendedor.user.username nombreEmprendimiento=emprendimiento.nombre idEmprendimiento=emprendimiento.id %}" class="btn btn-secondary">Actualizar</a>
</div>
{% endblock %}