<!-- se indic que va a heredar de base.html -->
{% extends "base.html" %}

<!-- se carga lo que esta en la carpeta static -->
{% load static %}  
{% load crispy_forms_tags %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=TAIzaSyAn4A1mmmidT_6TOWFVZjAduv4nP4LONvI&callback=initMap&libraries=places&v=weekly" async defer></script>
<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644}, // Puedes cambiar estas coordenadas iniciales
            zoom: 8
        });
        const marker = new google.maps.Marker({
            position: {lat: -34.397, lng: 150.644},
            map: map,
            draggable: true
        });

        // Actualiza los campos ocultos cuando el marcador se mueve
        google.maps.event.addListener(marker, 'dragend', function(evt) {
            document.getElementById('id_latitud').value = evt.latLng.lat();
            document.getElementById('id_longitud').value = evt.latLng.lng();
        });

        // Centrar el mapa al mover el marcador
        map.setCenter(marker.position);
        marker.setMap(map);
    }
</script>
{% endblock %}

<!-- aqui va el contenido cambiante -->
{% block content %}



<div class="container">
    <h2>Subir Contacto</h2>

    {% if request.user.is_authenticated %}
        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'actualizarContacto' username=user.username %}" style="color: aliceblue;">Actualizar contacto</a></li>
    {% endif %}

    <!-- Div para el mapa de Google Maps -->
    <div id="map" style="height: 400px; width: 100%;"></div>

    <!-- Formulario de contacto -->
    <form method="post" action="{% url 'subirContacto' username=request.user.username %}">
        {% csrf_token %}
        {{ miFormularioContacto.as_p }}
        {{ miFormularioImagenesContacto }}
        <input type="hidden" id="id_latitud" name="latitud" />
        <input type="hidden" id="id_longitud" name="longitud" />
        <button type="submit" class="btn btn-primary">Guardar Contacto</button>
    </form>
</div>
{{request.POST}}

{% endblock %}